In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn
from scipy.stats import poisson,skellam
import os
import sys

## Importation des données

In [2]:
%matplotlib inline
plt.style.use('seaborn-whitegrid') # theme
plt.rcParams['figure.figsize'] = (12,8) # taille des figures
package_dir = os.path.dirname(os.path.abspath(sys.argv[1]))
#file_name  = datetime.datetime(2018, 6, 1).strftime("%B")
file_name = "exctract"
thefile = os.path.join(package_dir, file_name+'.csv')
print(thefile)
ext = pd.read_csv(thefile)
ext = ext.sort_values(by="date")
print(ext.shape)
ext.head(5)

C:\Users\lazzali\Documents\GitHub\football-ligue-1-scraping-eda\exctract.csv
(5972, 11)

,date,day,hours,odds_a,odds_b,odds_draw,score_a,score_b,season,team_a,team_b
5971,2004-02-14 16:15:00,Saturday,16:15,1.77,4.22,3.13,1,1,2003/2004,Sochaux,Bordeaux
5963,2004-02-14 19:00:00,Saturday,19:00,2.03,3.30,3.07,0,0,2003/2004,AC Ajaccio,Strasbourg
5964,2004-02-14 19:00:00,Saturday,19:00,2.00,3.40,3.07,1,0,2003/2004,Guingamp,Bastia
5965,2004-02-14 19:00:00,Saturday,19:00,2.98,2.18,3.05,0,0,2003/2004,Le Mans,Marseille
5970,2004-02-14 19:00:00,Saturday,19:00,3.48,1.97,3.05,0,1,2003/2004,Toulouse,Paris SG

## Résultat du match 
Création de la variable *res*

In [3]:
#Cration de res : resultat du match
def func_res(row):
    res = 'HOME'
    if(row.score_b > row.score_a):
        res = 'AWAY'
    elif(row.score_b == row.score_a) :
        res = 'DRAW'
    return res

ext['res'] = ext.apply(func_res, axis=1)
print(ext.shape)
ext.head(5)

(5972, 12)

,date,day,hours,odds_a,odds_b,odds_draw,score_a,score_b,season,team_a,team_b,res
5971,2004-02-14 16:15:00,Saturday,16:15,1.77,4.22,3.13,1,1,2003/2004,Sochaux,Bordeaux,DRAW
5963,2004-02-14 19:00:00,Saturday,19:00,2.03,3.30,3.07,0,0,2003/2004,AC Ajaccio,Strasbourg,DRAW
5964,2004-02-14 19:00:00,Saturday,19:00,2.00,3.40,3.07,1,0,2003/2004,Guingamp,Bastia,HOME
5965,2004-02-14 19:00:00,Saturday,19:00,2.98,2.18,3.05,0,0,2003/2004,Le Mans,Marseille,DRAW
5970,2004-02-14 19:00:00,Saturday,19:00,3.48,1.97,3.05,0,1,2003/2004,Toulouse,Paris SG,AWAY

## min_odds
Quelle est la plus petite cote attribué par le bookmaker ?

In [4]:
# min_odds : qui le bookmaker voyait gagnant (plus petite des cotes)
def func_min_odds(row):
    # on prend l'index de la cote la plus petite : 
    min_index = [row.odds_a, row.odds_b, row.odds_draw].index(min([row.odds_a, row.odds_b, row.odds_draw]))
    # on la traduit en classe
    return ['HOME', 'AWAY', 'DRAW'][min_index]
    #prediction_odds = 1 if outcome_odds == res else 0 

ext['min_odds'] = ext.apply(func_min_odds, axis=1)
print(ext.shape)
ext.head()

(5972, 13)

,date,day,hours,odds_a,odds_b,odds_draw,score_a,score_b,season,team_a,team_b,res,min_odds
5971,2004-02-14 16:15:00,Saturday,16:15,1.77,4.22,3.13,1,1,2003/2004,Sochaux,Bordeaux,DRAW,HOME
5963,2004-02-14 19:00:00,Saturday,19:00,2.03,3.30,3.07,0,0,2003/2004,AC Ajaccio,Strasbourg,DRAW,HOME
5964,2004-02-14 19:00:00,Saturday,19:00,2.00,3.40,3.07,1,0,2003/2004,Guingamp,Bastia,HOME,HOME
5965,2004-02-14 19:00:00,Saturday,19:00,2.98,2.18,3.05,0,0,2003/2004,Le Mans,Marseille,DRAW,AWAY
5970,2004-02-14 19:00:00,Saturday,19:00,3.48,1.97,3.05,0,1,2003/2004,Toulouse,Paris SG,AWAY,AWAY

## max_odds 
Plus grande cote 
(Qui le bookmaker voyait perdant plus grande des cotes)

In [5]:
# max_odds : qui le bookmaker voyait perdant (plus grande des cotes)
def func_max_odds(row):
    # on prend l'index de la cote la plus petite : 
    max_index = [row.odds_a, row.odds_b, row.odds_draw].index(max([row.odds_a, row.odds_b, row.odds_draw]))
    # on la traduit en classe
    return ['HOME', 'AWAY', 'DRAW'][max_index]
ext['max_odds'] = ext.apply(func_max_odds, axis=1)
print(ext.shape)
ext.head()

(5972, 14)

,date,day,hours,odds_a,odds_b,odds_draw,score_a,score_b,season,team_a,team_b,res,min_odds,max_odds
5971,2004-02-14 16:15:00,Saturday,16:15,1.77,4.22,3.13,1,1,2003/2004,Sochaux,Bordeaux,DRAW,HOME,AWAY
5963,2004-02-14 19:00:00,Saturday,19:00,2.03,3.30,3.07,0,0,2003/2004,AC Ajaccio,Strasbourg,DRAW,HOME,AWAY
5964,2004-02-14 19:00:00,Saturday,19:00,2.00,3.40,3.07,1,0,2003/2004,Guingamp,Bastia,HOME,HOME,AWAY
5965,2004-02-14 19:00:00,Saturday,19:00,2.98,2.18,3.05,0,0,2003/2004,Le Mans,Marseille,DRAW,AWAY,DRAW
5970,2004-02-14 19:00:00,Saturday,19:00,3.48,1.97,3.05,0,1,2003/2004,Toulouse,Paris SG,AWAY,AWAY,HOME

## is_booky_write
Partons du principe que la cote la plus petite est celle qui represente celle qui a le plus de chance de passer. 
C'est le choix du bookmaker.


le bookmaker a raison si la cote la plus petite correspond au resultat du match

In [6]:
# good_pred le bookmaker a prédit le resultat effectif
ext['is_booky_write'] =  pd.Series(ext['min_odds'] == ext['res'],dtype='int64')
# la plus grande cote l'emporte
ext['worst_pred'] =  pd.Series(ext['max_odds'] == ext['res'],dtype='int64')
ext['draw_pred'] = pd.Series((ext['is_booky_write']==0) & (ext['worst_pred'] == 0), dtype='int64')
print(ext.shape)
ext[ext.draw_pred == 1].head(2)

(5972, 17)

,date,day,hours,odds_a,odds_b,odds_draw,score_a,score_b,season,team_a,team_b,res,min_odds,max_odds,is_booky_write,worst_pred,draw_pred
5971,2004-02-14 16:15:00,Saturday,16:15,1.77,4.22,3.13,1,1,2003/2004,Sochaux,Bordeaux,DRAW,HOME,AWAY,0,0,1
5963,2004-02-14 19:00:00,Saturday,19:00,2.03,3.30,3.07,0,0,2003/2004,AC Ajaccio,Strasbourg,DRAW,HOME,AWAY,0,0,1

## Calculer le classement
### Comment est init le classement ? 
Ex : [Fifa](https://www.lefigaro.fr/le-scan-sport/le-saviez-vous/2014/07/17/27006-20140717ARTFIG00090-comment-est-calcule-le-classement-fifa.php), [Ligue 1](https://www.webchercheurs.com/34/1501-fr-calcul-points-classement-ligue-1-bareme-football.html)

## points_a et b :
- Une victoire vaut trois points
- Le match nul un point
- La défaite ne rapporte aucun point

Amélioration : 
    - Classement par saison 
    - Initialisation du classement

In [7]:
ext['points_a'] = 0
ext['points_b'] = 0

# team_a
for team_a in ext.team_a.unique():
    ext.loc[ext['team_a'] == team_a, 'points_a'] = ext[ext.team_a == team_a].apply(lambda row : 3 if row.res == 'HOME' else (1  if row.res == 'DRAW' else 0), axis = 1)
    ext.loc[ext['team_a'] == team_a, 'points_a'] = ext[ext['team_a'] == team_a]['points_a'].cumsum()
    
# team_b
for team_b in ext.team_b.unique():
    ext.loc[ext['team_b'] == team_b, 'points_b'] = ext[ext.team_b == team_b].apply(lambda row : 3 if row.res == 'AWAY' else (1  if row.res == 'DRAW' else 0), axis = 1)
    ext.loc[ext['team_b'] == team_b, 'points_b'] = ext[ext['team_b'] == team_b]['points_b'].cumsum()


# verification
team_a = 'Rennes'
ext[ext.team_a == team_a][['res','points_a', 'points_b']].head()

       res  points_a  points_b
5958  HOME         3         0
5938  AWAY         3         4
5913  HOME         6         2
5883  HOME         9         2
5867  HOME        12         2

## etat_form_a et b 
Somme des victoires sur les 5 derniers matchs

A affiner par saison ?

In [8]:
# 0 - loss, 0,5 - draw, 1 win 
ext['etat_form_a'] = 0
ext['etat_form_b'] = 0

# si rencontre victoire pour A etat_form_a_counter =  1
ext['etat_form_a'] = ext.apply(lambda row : 1 if row.res == 'HOME' else (0.5  if row.res == 'DRAW' else 0), axis = 1)
ext['etat_form_b'] = ext.apply(lambda row : 1 if row.res == 'AWAY' else (0.5  if row.res == 'DRAW' else 0), axis = 1)

# on fait la somme glissante sur les 5 dernier match pour la team en question
for team_a in ext.team_a.unique():
    ext.loc[ext['team_a'] == team_a, 'etat_form_a'] = ext[ext.team_a == team_a]['etat_form_a'].rolling(5).sum()

for team_b in ext.team_b.unique():
    ext.loc[ext['team_b'] == team_b, 'etat_form_b']  = ext[ext.team_b == team_b]['etat_form_b'].rolling(5).sum()

# on met à  0 les Nan du rolling
ext['etat_form_a'] = ext['etat_form_a'].fillna(0)
ext['etat_form_b'] = ext['etat_form_b'].fillna(0)

# verification
team_a = 'Rennes'
ext[ext.team_a == team_a][['etat_form_a','res', 'etat_form_b']].head(6)

      etat_form_a   res  etat_form_b
5958          0.0  HOME          0.0
5938          0.0  AWAY          0.0
5913          0.0  HOME          0.0
5883          0.0  HOME          1.0
5867          4.0  HOME          1.0
5848          3.5  DRAW          2.0

## but_pour_a et b, but_contre_a et b, but_diff_a et b 
Cela pourrait etre interessant de le fair pour deux équipes
- A affiner par saison

In [9]:
# total des but mis et pris pendant 
 
ext['but_pour_a'] = ext.score_a.cumsum()
ext['but_contre_a'] = ext.score_b.cumsum()
ext['but_pour_b'] = ext.score_b.cumsum()
ext['but_contre_b'] = ext.score_a.cumsum()

# diffrence de but (but_pour - but_contre)
ext['but_diff_a'] = ext['but_pour_a'] - ext['but_contre_a']
ext['but_diff_b'] = ext['but_pour_b'] - ext['but_contre_b']

ext[['but_pour_a', 'score_a','but_contre_a', 'score_b', 'but_diff_a']].head(5)

      but_pour_a  score_a  but_contre_a  score_b  but_diff_a
5971           1        1             1        1           0
5963           1        0             1        0           0
5964           2        1             1        0           1
5965           2        0             1        0           1
5970           2        0             2        1           0

## joue_a et b 
Nombre de match joué par les équipes

In [10]:
# match nombre de joué pour les teams
ext['joue_a'] = 1
ext['joue_b'] = 1

for team_a in ext.team_a.unique():
    ext.loc[ext['team_a'] == team_a, 'joue_a'] = ext[ext.team_a == team_a]['joue_a'].cumsum()

for team_b in ext.team_b.unique():
    ext.loc[ext['team_b'] == team_b, 'joue_b'] = ext[ext.team_b == team_b]['joue_b'].cumsum()

## win_a et b 
nombre de victoire des équipes

In [11]:
# trop corr au classement ? 
ext['win_a'] = 0
ext['win_b'] = 0

ext['win_a'] = ext['res'].apply(lambda res : 1 if (res == 'HOME') else 0)
ext['win_b'] = ext['res'].apply(lambda res : 1 if (res == 'AWAY') else 0)

for team_a in ext.team_a.unique():
    ext.loc[ext['team_a'] == team_a, 'win_a'] = ext[ext.team_a == team_a]['win_a'].cumsum()

for team_b in ext.team_b.unique():
    ext.loc[ext['team_b'] == team_b, 'win_b'] = ext[ext.team_b == team_b]['win_b'].cumsum()

# verification 
team_a = 'Rennes'
ext[ext.team_b == team_a][['team_a','res', 'team_b', 'win_b']].head()

          team_a   res  team_b  win_b
5966        Lens  HOME  Rennes      0
5947     Le Mans  DRAW  Rennes      0
5930        Nice  HOME  Rennes      0
5911  Strasbourg  AWAY  Rennes      1
5896       Lille  HOME  Rennes      1

## loss_a et b

In [12]:
ext['loss_a'] = 0
ext['loss_b'] = 0

ext['loss_a'] = ext['res'].apply(lambda res : 1 if (res == 'AWAY') else 0)
ext['loss_b'] = ext['res'].apply(lambda res : 1 if (res == 'HOME') else 0)

for team_a in ext.team_a.unique():
    ext.loc[ext['team_a'] == team_a, 'loss_a'] = ext[ext.team_a == team_a]['loss_a'].cumsum()

for team_b in ext.team_b.unique():
    ext.loc[ext['team_b'] == team_b, 'loss_b'] = ext[ext.team_b == team_b]['loss_b'].cumsum()

# verification 
team_a = 'Rennes'
ext[ext.team_a == team_a][['team_a','res', 'team_b', 'loss_a']].head()

      team_a   res      team_b  loss_a
5958  Rennes  HOME  AC Ajaccio       0
5938  Rennes  AWAY      Nantes       1
5913  Rennes  HOME   Marseille       1
5883  Rennes  HOME    Bordeaux       1
5867  Rennes  HOME      Bastia       1

## draw_a et b

In [13]:
ext['draw_a'] = 0
ext['draw_b'] = 0

ext['draw_a'] = ext['res'].apply(lambda res : 1 if (res == 'DRAW') else 0)
ext['draw_b'] = ext['res'].apply(lambda res : 1 if (res == 'DRAW') else 0)

for team_a in ext.team_a.unique():
    ext.loc[ext['team_a'] == team_a, 'draw_a'] = ext[ext.team_a == team_a]['draw_a'].cumsum()

for team_b in ext.team_b.unique():
    ext.loc[ext['team_b'] == team_b, 'draw_b'] = ext[ext.team_b == team_b]['draw_b'].cumsum()

## Autre features : 
- Pour une rencontre, historique des confrontations pour les deux equipes ? 
- Gerer les dates ?

In [14]:
file_name = "exctract_enrichies"
thefile = os.path.join(package_dir, file_name+'.csv')
ext.to_csv(thefile,index=False)